.ems-member-page {

    .ems-grid-default-order{
        > div{
            &:first-child{
                display: grid;
                grid-template-rows: minmax(0, auto);
                grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr 0.5fr;
                grid-gap: 10px;
                padding: 10px 0px 11px;
                border-bottom: 1px solid $white-two;

                font-family: $gilroy;
                font-size: 14px;
                font-weight: 700;
                color: $charcoal-grey;

                .ems-grid-detail *{
                    font-size: 0 !important;
                }
            }
        }
        .ems-grid-row{
            display: grid; 
            grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr 0.5fr;
            grid-gap: 10px;
            min-height: 55px;
            
            padding: 21px 0 24px;
            margin-bottom: 0;
            border-width: 0 0 1px 0;
            > div{
                font-family: $proxima;
                font-size: 14px;
                font-weight: normal;
                margin-top: 0px;
                display: flex;
                align-items: center;
                &:empty{
                    &:before{
                        content: "-";
                    }
                }
            }

            .ems-grid-order-no{
                a{
                    text-decoration: underline;
                }
            }
            .ems-grid-cargo-no{

            }
            .ems-grid-status{
                color: inherit;
                font-weight: inherit;
            }

            .ems-grid-detail{
                position: initial;
                width: 100%;
                border-left: 0;
                a{
                    justify-content: flex-end;
                    font-weight: 600;
                    text-decoration: inherit;
                    > span{
                        display: flex;
                        align-items: center;
                    }
                    i{
                        font-size: 22px;
                        margin-left: 3px;
                    }
                }

            }
        }
    }
}