/*
 * Default
 ========================================================================== */
.ems-member-page {
    .ems-page-default-order-cancel {
        padding: 20px 20px 50px 20px;
    }
}

.ems-page-default-order-cancel {
    .order-detail-info-payment {
        display: none;
    }

    .order-cancel-button,
    .bottom-step {
        text-align: center;
    }

    .order-cancel-button .btnIptalEt,
    .bottom-step .btnSipariseDon {
        display: inline-block;
        text-align: center;
        background: $wildSand;
        padding: 11px 5px;
        width: 100%;
        max-width: 240px;
        margin-top: 30px;
        @include transition();
        border-radius: 5px;

        span {
            font-size: 15px;
            font-family: $proxima;
            font-weight: 600;
            @include transition();
        }
    }

    .bottom-step .btnSipariseDon span i {
        display: none;
    }

    .ems-grid-default-order-products {
        margin-top: 30px;

        .ems-grid-row {
            padding-right: 0;

            .ems-grid-status,
            .ems-grid-pieces,
            .ems-grid-piece0 {
                margin-top: 10px;
            }

            .ems-grid-piece0 {
                .sStylerWrp_select {
                    display: inline-block;
                    vertical-align: top;
                    width: 50%;

                    &:nth-child(1) {
                        padding-right: 10px;
                    }

                    &:nth-child(2) {
                        padding-left: 10px;
                    }
                }

                span[id$="lblSFI_SPR_ID"] {
                    display: inline-block;
                    padding: 5px 10px;
                    color: $alert-error-color;
                    background-color: $alert-error-background;

                    &:empty {
                        display: none;
                    }
                }
            }
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports (grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-member-page {
            .ems-page-default-order-cancel {
                padding: 0 30px 0 30px;
            }
        }

        .ems-page-default-order-cancel {
            .order-cancel-button {
                text-align: right;
            }

            .bottom-step {
                text-align: left;
            }

            .order-cancel-button .btnIptalEt,
            .bottom-step .btnSipariseDon {
                &:hover {
                    background: $frenchRose;

                    span {
                        color: $white;
                    }
                }
            }

            .bottom-step .btnSipariseDon {
                max-width: 190px;
            }

            .order-cancel-button .btnIptalEt {
                max-width: 170px;
            }

            .ems-grid-default-order-products {
                .ems-grid-header:first-child {
                    display: grid;
                    grid-template-rows: minmax(0, auto);
                    grid-template-columns: 80px 1fr 1fr .3fr 180px;
                    grid-gap: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-bottom: 1px solid $alto;
                    background: $wildSand;
                    padding-left: 10px;
                    padding-right: 10px;
                    align-items: center;

                    .ems-grid-piece0 {
                        text-align: right;
                    }
                }

                .ems-grid-row {
                    grid-template-columns: 80px 1fr 1fr .3fr 180px;
                    padding-left: 10px;
                    padding-right: 10px;

                    .ems-grid-status,
                    .ems-grid-pieces,
                    .ems-grid-piece0 {
                        margin-top: 0;
                    }

                    .ems-grid-piece0 {
                        display: grid;
                        justify-items: right;

                        .sStylerWrp_select {
                            display: block;
                            width: inherit;
                        }

                        .sStylerWrp_select {

                            .sStylerWrp,
                            select {
                                height: 40px;
                            }

                            &:nth-child(1) {
                                padding-right: 0;
                            }

                            &:nth-child(2) {
                                padding-left: 0;
                            }

                            &:nth-child(2) {
                                width: 100%;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}