/*
 * Default
 ========================================================================== */
.ems-member-page {
    .ems-page-default-member-order {
        padding: 20px;

        >.page-top-title>span {
            border-bottom: 0;
        }
    }
    .ems-grid-default-order{
        .ems-grid-row{
            position: relative;
            padding-top:10px;
            padding-bottom: 10px; 
            padding-right: 40px;
            .ems-grid-order-no{
                font-weight: 600;
            }
            .ems-grid-status{
                color: $frenchRose;
            }
            .ems-grid-date{
                color: #828282;
            }
            .ems-grid-cargo-no{
                a{
                    display: block;
                    &:last-child{margin-top: 10px;}
                }
            }
            .ems-grid-status,
            .ems-grid-cargo-no,
            .ems-grid-date,
            .ems-grid-total{
                margin-top: 5px;
            }
            .ems-grid-add-to-cart{
                position: absolute;
                top:50%;
                right: 0;
                margin-top: -15px;
                a{
                    display: block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    &:before{
                        font-family:'icomoon';
                        content:'\e909';
                        font-size: 15px;
                        color: #000000;
                    }
                    span{display: none;}
                }
            }
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    .ems-member-page {
        @media screen and (min-width: $breakpoint-medium) {
            .ems-page-default-member-order {
                padding: 0 30px 0 30px;
            }
            .ems-grid-default-order{
                .ems-grid-header:first-child {
                    display: grid;
                    grid-template-rows: minmax(0, auto);
                    grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr 0.5fr;
                    grid-gap: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    border-bottom: 1px solid $alto;
                    background: $wildSand;
                    padding-left: 10px;
                    padding-right: 10px;

                    >div {
                        span {
                            font-family: $proxima;
                            font-weight: 600;
                            color: $dustyGray;
                            font-size: 12px;
                        }

                        &.ems-grid-img,
                        &.ems-grid-remove {
                            span {
                                display: none;
                            }
                        }
                    }
                }
                .ems-grid-row{
                    display: grid; 
                    grid-template-columns: 1.5fr 1fr 1fr 1.5fr 1.5fr 0.5fr;
                    grid-gap: 10px;
                    min-height: 55px;
                    padding-left: 10px;
                    padding-right: 10px;
                    > div{
                        font-family: $proxima;
                        font-size: 14px;
                        font-weight: normal;
                        &:empty{
                            &:before{
                                content: "-";
                            }
                        }
                    }
                    .ems-grid-date{
                        color: #000000;
                    }
                    .ems-grid-order-no{
                        font-weight: normal;
                    }
                    .ems-grid-status,
                    .ems-grid-cargo-no,
                    .ems-grid-date,
                    .ems-grid-total{
                        margin-top: 0;
                    }
                    .ems-grid-add-to-cart{
                        position: inherit;
                        top: inherit;
                        right: inherit;
                        z-index: inherit;
                        margin-top: inherit;
                        a{
                            width: inherit;
                            height: inherit;
                            line-height: inherit;
                            color: $dustyGray;
                            font-size: 12px;
                            &:before{
                                display: none;
                            }
                            span{
                                display: block;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}