/*
 * Default
 ========================================================================== */
.ems-member-page {
    .ems-page-default-coupon {
        padding:20px 0;
        > .page-top-title > span{border-bottom: none;}
        .btn-holder-1 {
            border-bottom: 2px solid $alto;
            padding-left: 5px;
            padding-right: 5px;
            .btnDefault {
                width: 50%;
                display: inline-block;
                vertical-align: top;
                padding: 17px 2px;
                text-align: center;
                background: #fff;
                position: relative;
                span {
                    font-family: $proxima;
                    font-size: 14px;
                    color: $emperor;
                }

                &.selected {
                    border-radius: 5px 5px 0 0;
                    border-width: 2px 2px 0 2px;
                    border-style: solid;
                    border-color: $alto;
                    span {
                        color: $frenchRose;
                        font-weight: 600;
                    }
                    &:after{
                        content:'';
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        z-index: 2;
                        position: absolute;
                        left: 0;
                        bottom: -2px;
                    }
                }
            }
        }
    }
    .ems-grid-default-coupons{
        width: inherit;
        margin-left: 20px;
        margin-right: 20px;
        .ems-grid-row{
            padding-left: 0;
            padding-right: 0;   
            .ems-grid-order-no{
                font-weight: 600;
            }
            .ems-grid-name{
                margin-top: 5px;
            }
            .ems-grid-order-no,
            .ems-grid-name{display: block; width: 100%;}        
            .ems-grid-date,
            .ems-grid-status{
                display: inline-block; width: 33.333%;
                padding-top: 10px;
                > div{
                    font-size: 12px;
                    color: #828282;
                    padding-bottom: 5px;
                }
                > span{
                    &:empty{
                        &:before{
                            content:'-';
                        }
                    }
                }
            }
        }
    }
}

/*
 * Media Query
 ========================================================================== */
 @supports (grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-member-page {
            .ems-page-default-coupon {
                padding:0 30px 0 30px;
                .btn-holder-1{
                    padding-left: 15px;
                    padding-right: 15px;
                    .btnDefault {
                        width: inherit;
                        min-width: 135px;
                        padding-left: 20px;
                        padding-right: 20px;
                        min-height: 50px;
                        max-height: 50px;
                    }
                }   
            }
            .ems-grid-default-coupons{
                width: inherit;
                margin-left: 0;
                margin-right: 0;
                .ems-grid-row{
                    padding-left: 10px;
                    padding-right: 10px;
                    .ems-grid-order-no{
                        font-weight: normal;
                    }
                    .ems-grid-order-no,
                    .ems-grid-name{display: inherit; width: auto; margin-top: 0;}        
                    .ems-grid-date,
                    .ems-grid-status{
                        display: inherit; width: auto;
                        padding-top: 0;
                    }
                }
            }
        }
    }
}