.grid-column-bnr{
    margin-bottom:20px;
    .swiper-slide{
        width:150px;
        height:90px;
        margin-right:20px;
        @include get-flex(flex,center,center);
        text-align: center;
        &:first-child{
            margin-left:20px;
        }
        > div{
            padding: 10px;
            width:100%;
        }
    }
    .basket-cargo-calc{
        background: $pinkish-grey;
    }
    .basket-transfer-pay{
        background: $light-grey;
    }
    .basket-info{
        background: $light-grey-two;
    }
}


@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .grid-column-bnr{
            .swiper-slide{
                width:33%;
                height:110px;
                text-align: left;
                &:first-child{
                    margin-left:0px;
                }
                > div{
                    width:75%;
                    > span{
                        font-size:20px;
                    }
                }
            }
        }
    }
}