// Üyeliksiz Alışveriş

.ems-page-guest-layout{
    .divTeslimatKargo{
        ul{
            @include get-flex(flex,center,flex-start);
            li{
                cursor: pointer;
                width:110px;
                height: 150px;
                @include get-flex(flex,center,center);
                align-content: center;
                flex-wrap: wrap;
                margin-right:10px;
                border:1px solid $white-two;
                border-radius: 3px;
                img{
                    width:50px;
                }
                > span{
                    width:100%;
                    display: block !important;
                    text-align: center;
                    font-size:12px;
                    margin-top:8px;
                }
                .kargoAdi{
                    font-family: $gilroy;
                    font-weight: bold;
                }
                .kargoBilgi{
                    display: none !important;
                }
                .sStylerWrp_radio{
                    width:20px;
                    height:20px;
                    border:1px solid $grey-d;
                    @include get-flex(inline-flex !important,center,center);
                    border-radius: 100%;
                    .rStyler{
                        width:17px;
                        height:17px;
                        display: inline-block;
                        border-radius: 100%;
                        background: $white;
                        &.checked{
                            background:$carmine;
                            width:8px;
                            height:8px;
                        }
                    }
                    input{
                        position: absolute;
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }
    }
}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {



    }
}