.grid-column-hdr{
    .header-logo , .header-info{
        display: none;
    }
    .header-steps{
        margin-top:10px;
        table{
            width:100%;
            max-width: 600px;
            margin:0 auto;
            td{
                > span{
                    position: relative;
                    display: inline-block;
                    width:33%;
                    &::before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 40px;
                        width: 100%;
                        z-index: 1;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 40px;
                        width: 100%;
                        border-top: 5px solid $grey-d;
                    }
                    a{
                        display: block;
                         > span{
                             display: block;
                             .step-icon{
                                position: relative;
                                z-index: 2;
                                display: block;
                                width: 15px;
                                height: 15px;
                                border-radius: 100%;
                                background: $grey-d;
                                margin-top:20px;
                             }
                             .step-text{
                                display: block;
                                font-weight: bold;
                             }
                         }
                    }
                }
            }
            td{
                > span{
                    .step-wrapper{
                        position: relative;
                        .step-text{
                            text-align: left;
                        }
                        .step-icon{
                            position: absolute;
                            left:0px;
                        }
                    }
                    &:nth-child(2){
                        .step-text{
                            text-align: center;
                        }
                        .step-icon{
                            left:50%;
                            transform: translateX(-50%);
                        }
                    }
                    &:last-child{
                        .step-text{
                            text-align: right;
                        }
                        .step-icon{
                            left:100%;
                            transform: translateX(-100%);
                        }
                    }
                }
            }
        }
    }               
}


.tabloTabBtnAdimSiparis td>span:last-child:after , 
.tabloTabBtnAdimSiparis td>span:last-child:before{
    content: '' !important;
}
.tabloTabBtnAdimSiparis td>span:first-child:before{
    border-top: 5px solid $greyish-brown;
}

.tabloTabBtnAdimSiparis td>span:first-child .step-icon{
    background: $greyish-brown !important;
}


.ems-page-delivery{
    .header-steps{
        td{
            > span{
                &:nth-child(2){
                    .step-icon{
                        background: $greyish-brown !important;
                    }
                    &:after{
                        border-top:5px solid $greyish-brown !important;
                    }
                }
            }
        }
    }
}

.ems-page-payment{
    .header-steps{
        td{
            > span{
                .step-icon{
                    background: $greyish-brown !important;
                }
                &:after{
                    border-top:5px solid $greyish-brown !important;
                }
            }
        }
    }
}





@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
        .grid-column-hdr{
            > div{
                display: grid;
                grid-template-columns:minmax(auto , 240px) 1fr minmax(auto , 240px);
                grid-template-rows: 80px;
                .header-logo{
                    @include get-flex(flex,center,flex-start);
                    .basket-logo{
                        max-width: 110px;
                    }
                }
                .header-steps{
                    @include get-flex(flex,flex-end,center);
                    margin-top:0px;
                    > div {
                        width:100%;
                    }
                    table{
                        td{
                            > span{
                                &::before{
                                    left:50%;
                                    width:50%;
                                }
                                &::after{
                                    left:50%;
                                }
                            }
                        }
                        td{
                            > span{
                                .step-wrapper{
                                    position: inherit !important;
                                    .step-text{
                                        text-align: center !important;
                                    }
                                    .step-icon{
                                        position: inherit !important;
                                        transform: inherit !important;
                                        left:0px !important
                                    }
                                }
                            }
                        }
                    }
                }
                .header-info{
                    @include get-flex(flex,center,center);
                    > div {
                        width:100%;
                    }
                    .header-info-wrapper{
                        @include get-flex(flex,center,space-between);
                        width: 100%;
                        > span{
                            @include get-flex(flex,center,center);
                        }
                    }
                }
            }
        }


        .tabloTabBtnAdimSiparis td>span:last-child:after , 
        .tabloTabBtnAdimSiparis td>span:last-child:before{
            content: none !important;
        }
        .tabloTabBtnAdimSiparis td>span:first-child:after , 
        .tabloTabBtnAdimSiparis td>span:first-child:before{
            content:'' !important;
        }
    
        .ems-page-delivery{
            .header-steps{
                td{
                    > span{
                        &:nth-child(2){
                            .step-icon{
                                background: $greyish-brown !important;
                            }
                            &:after{
                                border-top:5px solid $greyish-brown !important;
                            }
                        }
                    }
                }
            }
        }

    }
}



