.ems-page-payment{
    .grid-column-crt{   
        padding:0px !important;
    }
}
    .page-top-desc{
        display: none;
    }           
    .ems-cart-body-top{
        .ems-cart-pay-tab{
            ul{
                @include get-flex(flex,center,space-between);
                li{
                    width:50%;
                    border-bottom:1px solid $grey-d;
                    a{
                        width:100%;
                        text-align: center;
                        font-weight: bold;
                        font-family: $gilroy;
                        font-size:16px;
                        text-transform: uppercase;
                        border-bottom: 4px solid transparent;
                        padding:10px;
                        &.emos_selected{
                            border-bottom:4px solid $carmine;
                            span{
                                color:$black !important;
                            }
                        }
                    }
                }
            }
        }
        .ems-cart-pay-type{
            padding:20px;
            .ems-pay-point{
                margin-top:20px;
            }
            .tableTitleOdemeBilgiKrediKarti{
                > span{
                @include get-flex(flex,center,space-between);
                margin-bottom: 20px;
                .kart-title{
                        font-size:16px;
                        font-weight: bold;
                        font-family: $gilroy;
                    }
                .taksit-title{
                        a{
                            font-size:14px;
                            text-decoration: underline;
                        }
                    }
                }  
            }
            .ems-card-wrapper{
                display: none;
            }
            .tableOdemeBilgiKrediKarti{
                width:100% !important;
                th{
                    display: block;
                    text-align: left;
                    font-weight: 400;
                    font-size:12px;
                    padding-bottom: 10px;
                }
                td{
                    display: block;
                    padding-bottom: 20px;
                    .minusNumKeyPadWrapper{
                        width:100%;
                    }
                    .minusNumKeyPad{
                        display: none;
                    }
                    .div-cc-carttype{
                        right:10px !important;
                        top:7px !important;
                    }
                    input{
                        width:100% !important;
                    }
                }
                .tableOdemeBilgiKrediKarti_thlbfbtnOdemeTaksit{
                    display: none;
                }
                .tableOdemeBilgiKrediKarti_tddrpKSA_SPR_ID{
                    @include get-flex(flex,center,space-between);
                    span{
                        width:48%;
                        color:$grey-d;
                    }
                }
                .tableOdemeBilgiKrediKarti_tdtxtKKARTCVCNO{
                    position: relative;
                    width:120px;
                    > span{
                        &::after{
                            position: absolute;
                            top:0px;
                            right:0px;
                            color:$grey-a;
                            border-left:1px solid $grey-d;
                            content:'\e946';                        
                            font-family: icomoon;
                            font-size:40px;
                            padding:1px;
                        }
                        .cvc{
                            display: none;
                        }
                    }
                    &.opened{
                        .cvc{
                            width:300px;
                            display: block;
                            border:1px solid $grey-d;
                            font-size:12px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    
    .ems-page-cart-colmn-2{
        .ems-cart-summary{
            padding:0px 20px;
        }
    }
    .ems-cart-payment-wrapper{
        padding:20px;
        .ems-payment-info-title{
            @include get-flex(flex,center,space-between);
            cursor: pointer;
            border:1px solid $grey-d;   
            border-radius: 3px;
            margin-top: 10px;    
            i , span{
                color:$grey-9;
            }
            span{
                display: block;
                width:100%;
            }
            .icon-arrowdown{
                transition:  all .33s;
            }
            .icon-carrot01{
                display: none;
            }
        }
        .ems-grid-payment-wrapper{
            .ems-page-order-cart{
                display: none;
                .ems-grid-row{
                    border:1px solid $black;
                    border-bottom:none;
                    &:last-child{
                        border-bottom:1px solid $black;
                    }
                    .ems-grid-right{
                        width:100%;
                        height:auto;
                        flex-direction: column-reverse;
                        .ems-grid-bottom{
                            position: relative;
                            padding:0px;
                            margin-bottom:5px;
                            .ems-grid-piece{
                                display: none;
                            }
                        }
                    }
                }
            }
            &.active{
                .ems-payment-info-title{
                    border:1px solid $black;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom:none;
                    i , span{
                        color:$black;
                    }           
                    .icon-arrowdown{
                        transform: rotate(-180deg);
                    }
                }
                .ems-page-order-cart{
                    display: block;
                }
            }
        }
        .ems-cart-pay-adress{
            .ems-cart-pay-inner{
                display: none;
                .ems-delivery-address{
                    padding: 10px;
                    border:1px solid $black;
                    border-bottom:none;
                    .ems-delivery-address-lbl{
                        font-weight: bold;
                    }
                    .ems-delivery-address-obj{
                        font-size:12px;
                        margin-top:5px;
                    }
                    &:last-child{
                        border-bottom:1px solid $black;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }
                }
            }
            &.active{
                .ems-cart-pay-inner{
                    display: block;
                }
                .ems-payment-info-title{
                    border:1px solid $black;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    border-bottom:none;
                    i , span{
                        color:$black;
                    }    
                    .icon-arrowdown{
                        transform: rotate(-180deg);
                    }       
                }
            }
        }
    }

    .ems-cart-agreement{
        display: none;
    }
    .ems-pay-type-desc{
        display: none;
    }

    .tableOdemeBilgiKrediKarti{
        grid-area: tbl;
    }
    .ems-card-wrapper{
        grid-area: pym;
    }
    .tableTitleOdemeBilgiKrediKarti{
        grid-area: ttl;
    }
    .pageOdemeBilgi_chkBankaBonus{
        grid-area: bns;
    }
    .pageOdemeBilgi_odemeTaksit{
        grid-area: tks;
        border:1px solid $white-two;
        background: $white-three;
        border-radius: 3px;
        .pageOdemeBilgi_lbfOdemeTaksit{
            display: none !important;
        }
        #imgBANKALOGO{
            border:1px solid red;
            height:54px;
            width: auto;
            margin:5px 50px 2px 50px;
        }
        .tableOdemeTaksit{
            width:100%;
            background: $white;
            .tableTitleOdemeTaksit{
                display: block;
                padding:20px;
                font-family: $gilroy;
                font-size:14px;
                td{
                    width:33%;
                    font-weight: bold;
                    &:first-child{
                        width:22px;
                        padding-right:30px;
                    }
                }
            }
            .taksit_pesin{
                font-weight: 400;
                display: block;
                border-top:1px solid $white-three;
                color:$grey-9;
                padding:20px;
                td{
                    width:33%;
                    .sStylerMainWrp{
                        @include get-flex(flex,center,center);
                        .rStyler{
                            border:1px solid $grey-d;
                            display: block;
                            width:22px;
                            height:22px;
                            border-radius: 100%;
                            transition: background .33s;
                            &.checked{
                                border:1px solid $green;
                                background: $green;
                                color:$white;
                                &::before{
                                    content:'\e96b';
                                    font-family: icomoon;
                                    font-size:19px;
                                }
                            }
                        }
                        input{
                            opacity: 0;
                        }
                    }
                    &:first-child{
                        width:22px;
                        padding-right:20px;
                    }
                }
            }
        }
    }

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-page-payment{
            .ems-cart-pay-type{
                padding:20px 0px;
                .ems-pay-credit-cart{
                    > div{
                        display: grid;
                        grid-template-areas: 
                        "tbl pym"
                        "ttl ttl"
                        "bns bns"
                        "tks tks"
                        ;
                        position: relative;
                    }
                    .tableTitleOdemeBilgiKrediKarti{
                        position: absolute;
                        bottom:115px;
                        right:0px;
                    }
                    .tableTitleOdemeBilgiKrediKarti{
                        > span{
                            justify-content: flex-end;
                        }
                        .kart-title{
                            display: none;
                        }
                    }
                    .ems-card-wrapper{
                        display: block;
                        .card-wrapper{
                            .jp-card-container{
                                margin-right:0px;
                            }
                        }
                    }
                } 
            }
            .ems-cart-payment-wrapper{
                padding:0px;
                .ems-grid-payment-wrapper{
                    .ems-payment-info-title{
                        border:none;
                        border-bottom:1px solid $grey-d;
                        span{
                            color:$black;
                            font-weight: bold;
                        }
                        .icon-cartblack{
                            display: none;
                        }
                        .icon-arrowdown{
                            display: none;
                        }
                        .icon-carrot01{
                            display: block;
                            transition: all .33s;
                            &:before{
                                color:$black;
                            }
                        }
                    }
                    .ems-grid-row{
                        border: none;
                        border-bottom:1px solid $grey-d;
                        &:last-child{
                            border-bottom:1px solid $grey-d;
                        }
                    }
                    &.active{
                        .ems-payment-info-title{
                            span{
                                color:$carmine;
                            }
                            .icon-carrot01{
                                transform: rotate(-180deg);
                                &:before{
                                    color:$carmine;
                                }
                            }
                        }
                    }
                }
                .ems-cart-pay-adress{
                    margin-top:20px;
                    .ems-cart-payment-trigger{
                        display: none;
                    }
                    .ems-cart-pay-inner{
                        display: flex !important;
                        .ems-delivery-address{
                            border:1px solid $grey-d !important;
                            border-radius: 3px;
                            padding:20px;
                            .ems-delivery-address-obj{
                                color:$grey-9;
                                font-size:14px;
                                line-height: 1.43;
                            }
                            &:first-child{
                                margin-right:20px;
                            }
                        }
                    }
                }
            }
            .ems-cart-agreement{
                display: block;
                margin-top:40px;
                .siparisOnaySozlesme , .onBilgilendirmeForm{
                    border:1px solid $grey-d;
                    padding:20px;
                    margin-bottom:20px;
                    .tableTitleSiparisOnaySatisSozlesme , .tableTitleSiparisOnBilgilendirmeForm{
                        display: none;
                    }
                    .siparisOnaySozlesmeMetin , .onBilgilendirmeFormMetin{
                        span{
                            overflow:scroll !important;
                            overflow-x:hidden !important;
                            padding: 10px;
                            color:$grey-9;
                        }
                    }
                }
            }
        }

        .ems-page-cart-colmn-2{
            .ems-cart-summary{
                padding:0px;
            }
        }
    }
}