// Name:            Footer General
// Description:     
//
// ========================================================================



@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        footer{
            margin:40px auto;
            width:100%;
            max-width: 1410px;
            display: grid;
            grid-template-rows: 140px auto 90px;
            grid-template-columns: 100%;
            grid-template-areas: 
            "FT"
            "FC"
            "FB";
            .footer-top{
                grid-area: FT;
            }
            .footer-content{
                border-bottom:1px solid $white-two;
                grid-area: FC;
            }
            .footer-bottom{
                grid-area: FB;
            }
        }        
    }
}