// Name:            Footer General
// Description:     
//
// ========================================================================


// Scroll Top Button
// ========================================================================
.scroll-top-btn{
    width: 100%;
    border-radius: 0;
    font-size: 9px;
    line-height: 22px;
}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
    }
}