// Name:            Footer General
// Description:     
//
// ========================================================================

.footer-main{
    .ems-container{
        padding-left: 0px;
        padding-right: 0px;
    }
}
.footer-main-row{
}
.footer-main-col-left{
    background: $wildSand;
    padding: 40px 20px;
}
.footer-main-col-right{

}

// Footer App Holder
// ========================================================================
.footer-app-holder{
}
.footer-app-wrp{
    padding: 40px 20px;
    text-align: center;
}
.footer-app-title{
    color: $gray;
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 20px;
}
.footer-app-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li{
        margin: 0 10px;
        img{
            max-width: 122px;
        }
    }
}

// Scroll Top Button
// ========================================================================
.scroll-top-btn{
    width: 100%;
    border-radius: 0;
    font-size: 9px;
    line-height: 22px;
}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .footer-main{
            max-width: initial;
            .ems-container{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .footer-main-row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 70px 0;
        }

        .footer-main-col-left,
        .footer-main-col-right{
            width: calc((100% - 30px) / 2);
        }

        .footer-main-col-left{
            background: initial;
            padding: 0 62px 0 0;
        }

        // Footer App Holder
        // ========================================================================
        .footer-app-holder{
        }
        .footer-app-wrp{
            padding: 0;
            text-align: left;
        }
        .footer-app-title{
            margin-bottom: 16px;
        }
        .footer-app-list{
            justify-content: flex-start;
            li{
                margin: 0 10px 0 0;
            }
        }
        
    }
}