// Name:            Footer Nav Menu
// Description:     
//
// ========================================================================

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
      
        .footer-nav-wrapper{
            @include get-flex(flex,flex-start,flex-start);
            > div{
                width:170px;
                .footer-nav-title{
                    font-family: $gilroy;
                    font-weight: bold;
                    font-size:15px;
                    color:$charcoal-grey;
                    margin-bottom:30px;
                    display: block;
                }
                ul{
                    li{
                        a{
                            line-height: 2;
                            color:$dark;
                        }
                    }
                }
                &:first-child{
                    margin-right:20px;
                    border-right:1px solid #ececec;
                }
            }
        }


    }
}