// Name:            Footer Socials
// Description:     
//
// ========================================================================
.footer-socials{
    padding: 40px 40px 8px;
}
.footer-socials-list{
    display: flex;
    li{
        margin-left: auto;
        margin-right: auto;
        a{
            font-size: 16px;
            color: $dustyGray;
            transition: all .333s ease-in-out;
            &:hover{
                color: $frenchRose;
            }
        }
    }
}


@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .footer-socials{
            padding: 40px 0 0 11px;
        }
        .footer-socials-list{
            li{
                margin-right: 55px;
                margin-left: 0;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}