.main-wrapper > *{ grid-area: NNN; }

/* Header */
header{ grid-area: HDR !important;}
aside{grid-area: ASD !important;}
main{ grid-area: MAI !important;width:100%;max-width: 1290px;margin:0 auto;}
footer{grid-area: FTR !important;width:100%;}




@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
        .main-wrapper {
            display: grid;
            grid-template-rows:80px minmax(500px, auto) auto;
            grid-row-gap: 40px;
            grid-template-columns:50px minmax(0 ,300px) minmax(0 , 1fr) 50px;
            grid-template-areas: 
                ". HDR HDR ."
                ". ASD MAI ."
                ". ASD FTR .";
        }

    }
}

