// Name:            Button
// Description:     Styles for buttons
//
// ========================================================================


// Variables
// ========================================================================
$default-font-family:                   $proxima;
$default-font-size:                     15px;
$default-font-weight:                   600;
$default-line-height:                   18px;
$default-border-radius:                 5px;
$default-padding:                       15px;

$big-font-family:                       $gilroy;
$big-font-size:                         16px;
$big-font-weight:                       bold;
$big-letter-spacing:                    .5px;
$big-line-height:                       23px;
$big-padding:                           16px 98px;



/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

.btnDefault{
    
    &:hover, &:focus{

    }
}

/*
 * Primary
 */
.btn-primary{

}

/*
 * Primary Light
 */
 .btn-primary-light{

}

/*
 * Secondary
 */
.btn-secondary{

}

/*
 * Secondary Dark
 */
.btn-secondary-dark{

}
/*
 * Alternative
 */
.btn-alternative{

}

/*
 * Inactive
 */
.btn-inactive{

}


/*
 * Big Type
 */
.btn-big{

}

.btnLogin,
.btnYeniUyeKaydet{

}

.btnFacebookLogin{
    
}