// Name:            Button
// Description:     Styles for buttons
//
// ========================================================================


// Variables
// ========================================================================
$default-font-family:                   $proxima;
$default-font-size:                     15px;
$default-font-weight:                   600;
$default-line-height:                   18px;
$default-border-radius:                 5px;
$default-padding:                       15px;

$big-font-family:                       $gilroy;
$big-font-size:                         16px;
$big-font-weight:                       bold;
$big-letter-spacing:                    .5px;
$big-line-height:                       23px;
$big-padding:                           16px 98px;



/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

%btn, .btnDefault{
    text-align: center;
    border-radius: 3px;
    background: $black;
    color:$white !important;
    font-family: $proxima;
    font-size:17px;
    padding: 21.5px;
    font-weight: bold;
    &:hover, &:focus{

    }
}

.btnFacebookLogin{
    text-align: center;
    border-radius: 3px;
    font-size:15px;
    font-family: $proxima;
    font-weight:bold;
    background: $facebook;
    color:$white;
    padding:18.5px;
}

/*
 * Primary
 */
.btn-primary{
    background: $white;
    color:$dark !important;
    border:1px solid $black;
    padding:16.5px;
}

/*
 * Primary Light
 */
 .btn-primary-light{

}

/*
 * Secondary
 */
.btn-secondary{

}

/*
 * Secondary Dark
 */
.btn-secondary-dark{

}
/*
 * Alternative
 */
.btn-alternative{

}

/*
 * Inactive
 */
.btn-inactive{

}


/*
 * Big Type
 */
.btn-big{

}

.btnLogin,
.btnYeniUyeKaydet{

}

