// Name:            Button
// Description:     Styles for buttons
//
// ========================================================================


// Variables
// ========================================================================
$default-font-family:                   $proxima;
$default-font-size:                     15px;
$default-font-weight:                   600;
$default-line-height:                   18px;
$default-border-radius:                 5px;
$default-padding:                       15px;

$big-font-family:                       $gilroy;
$big-font-size:                         16px;
$big-font-weight:                       bold;
$big-letter-spacing:                    .5px;
$big-line-height:                       23px;
$big-padding:                           16px 98px;



/* Style modifiers
 ========================================================================== */

/*
 * Default
 */

%btn, .btnDefault{
    text-align: center;
    border-radius: 3px;
    background: $black;
    color:$white !important;
    font-family: $proxima;
    font-size:17px;
    padding: 21.5px;
    font-weight: bold;
    &:hover, &:focus{

    }
}

.btnFacebookLogin{
    text-align: center;
    border-radius: 3px;
    font-size:15px;
    font-family: $proxima;
    font-weight:bold;
    background: $facebook;
    color:$white;
    padding:18.5px;
}

/*
 * Primary
 */
.btn-primary{
    background: $white;
    color:$dark !important;
    border:1px solid $black;
    padding:16.5px;
}

    .btnLine{
        border: 1px solid #ddd;
        font-size: 15px;
        font-family: $proxima;
        font-weight: 400;
        text-align: center;
        border-radius: 3px;
        display: inline-block;
        min-width: 180px;
        position: relative;
        transform: translateX(-50%);
        left:50%;
        padding: 10px 0px;
        margin:10px 0px;
    }

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

    .btnLine{
        margin:inherit;
        padding: inherit;
        position: absolute;
        bottom:20px;
        border:none;
        color:$white;
        @include get-flex(flex,center,center);
        &:after{
            content:'\e927';
            font-family: "icomoon";
            font-size:40px;
        }
    }

    }
}
/*
 * Primary Light
 */
 .btn-primary-light{

}

/*
 * Secondary
 */
.btn-secondary{

}

/*
 * Secondary Dark
 */
.btn-secondary-dark{

}
/*
 * Alternative
 */
.btn-alternative{

}

/*
 * Inactive
 */
.btn-inactive{

}


/*
 * Big Type
 */
.btn-big{

}

.btnLogin,
.btnYeniUyeKaydet{

}

