.vail {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}


/**/
body{
    &.search-ready,
    &.aside-menu-ready,
    &.main-menu-ready,
    &.mini-login-ready{
        overflow-y: hidden;
    }
}

 
.search-ready{
    .vailSearch{
        visibility: visible;
        opacity: 1;       
    }
}

/**/
.main-menu-ready{
    .vailMenu{
        visibility: visible;
        opacity: 1; 
        z-index: 10;
    }
}

.mini-login-animate{
    .vailMiniLogin{
        visibility: visible;
        opacity: 1;
    }
}

.aside-menu-ready{
    .vailMenu{
        visibility: visible;
        opacity: 1;
        z-index: 1000;
    }
}

