/* Navbar Logo & Right Menu */

.navbar-holder{
    @include get-flex(flex,center,space-around);
    flex-wrap: wrap;
    .navbar-item-alternate-icons{
        width:33%;
        .navbar-hide-icons{
            visibility: hidden;
            @include get-flex(flex,center,flex-start);   
        }
    }
    .navbar-item-logo{
        width:94px;
    }
    .navbar-item-right{
        @include get-flex(flex,center,flex-end);
        height:48px;
        width:33%;
    }
}

/* Sticky Header */ 

.sticky-header-ready{
    .site-header{
        .navbar-item-search{
            display:none;
        }
        .navbar-item-alternate-icons{
            .navbar-hide-icons{
                visibility: visible !important;
                .header-detail-back-btn{
                    display: none;
                }
            }
        }
    }
    &.search-ready{
        .navbar-item-search{
            display: block;
        }
    }
}

.site-header{
    position: sticky;
    top: 0px;
    z-index:1000;
    background: $white;
    width:100%;
}


/*  Media Query ========= */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        /* Sticky Header */ 

        .sticky-header-ready{
            .site-header{
                .navbar-item-search{
                    display:block;
                }
            }
        }

        

        .site-header{
            height: 80px;
            display: flex;
            .navbar-holder{
                width: 100%;
                grid-area: NBH;
                display: grid;    
                height:inherit;
                grid-template-columns: minmax(240px , 1fr) minmax(auto,600px) minmax(240px , 1fr);
                grid-template-areas: "LGO SCH NBR";
                > div{
                    width:inherit !important;
                }
                .navbar-item-alternate-icons{
                    display: none;
                }
                .navbar-item-logo{
                    grid-area: LGO;
                    width:inherit;
                    .logo{
                        width:110px;
                    }
                    .icon-menu{
                        display: none;
                    }
                }
                .navbar-item-right{
                    grid-area: NBR;
                    > div{
                        margin-left:42px;
                    }
                }
            }
        }

    }
}