//
// Static:       Mini Search
//
// ========================================================================


/*
 * Arama
 ========================================================================== */
.navbar-holder{
    .navbar-item-search{
        background: $light-grey-three;
        border-radius: 3px;
        width:94%;
        .kutuArama{
            .kutuArama_lnkHizliUrun , .kutuHeaderArama{
                display: none !important;
            }
            .kutuBodyArama{
                display: flex;
                .kutuArama_aramaText{
                    width:100%;
                    input{  
                        color:$charcoal-grey;
                        background: none;
                        border:none;
                    }
                }
                .kutuArama_btnArama{
                    .btnArama{
                        padding: inherit;
                        background: inherit;
                        color:$charcoal-grey !important;
                    }
                }
            }
        }
    }
}



 /*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .navbar-holder{
            .navbar-item-search{
                grid-area: SCH;
            }
        }


    }
}