//
// Component:       Product List Footer
//
// ========================================================================
.ems-prd-list-footer{
    
}



/*
 * Desktop
 *  
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .ems-prd-list-footer{
            display: flex;
            align-items: center;
            margin-top: 45px;
            padding: 30px 0;
            border-top: 1px solid $alto;
        }


        .ems-prd-list-paging{
            margin: 0 auto;
        }

    }
}