//
// Component:       Product List Footer
//
// ========================================================================




/*
 * Desktop
 *  
 ========================================================================== */
    @media screen and (max-width: $breakpoint-medium) {

        .ems-prd-list-footer{
            .ems-prd-list-paging{
                display: block;
                margin-bottom:20px;
                .urunListePagingAlt{
                    [id$="lnkNext"] , [id$="lnkPrev"]{
                        display: none !important;
                    }
                }
            }
        }

    }