//
// Component:       Product List Header
//
// ========================================================================
.ems-page-list{
    .grid-column-brd{
        @include get-flex(flex,center,space-between);
        width:100% !important;
        padding:12.5px;
        background: $light-grey;
        .product-list-navigasyon{
            .urunNavigasyon{
                > span{
                    color:$charcoal-grey;
                    a{
                    &:not(:first-child){
                            &:before{
                                content:' / ';
                                margin-left:2px;
                            }
                        }
                    }
                    &.navigasyonSeviye3{
                        display: none;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
                    }
                }
            }
            .bread-crumb-count{
                display: none;
            }
        }
        .ems-prd-list-filter-button{
            @include get-flex(inline-flex,center,flex-end);
            .btn-filter{
                &:last-child{
                    border:1px solid $black;
                    color:$black;
                    font-weight: 400;
                    padding: 9px;
                    border-radius: 3px;
                }
            }
        }
    }
}

/*
 * Desktop
 *  
 ========================================================================== */
@supports(grid-area: auto) {    
    @media screen and (min-width: $breakpoint-medium) {

        .ems-page-list.ems-brd-second{
            .product-list-navigasyon{
                .navigasyonSeviye1{
                    &::after{
                        content:' /';
                    }
                }
                .navigasyonSeviye2{
                    font-size:25px;
                    font-weight: bold;
                    font-family: $gilroy;
                    display: block;
                    color:$black;
                    margin-top:5px;
                    &::before{
                        content: none !important;
                    }
                }
                .navigasyonSeviye3{
                    display: none;
                }
                .bread-crumb-count{
                    display: block;
                    color:$grey-6;
                    margin-top:5px;
                }
            }
        }

        .ems-page-list{
            .grid-column-brd{
                background: $white;
                padding:12.5px 0px;
                .product-list-navigasyon{
                    .urunNavigasyon{
                        > span{
                            color:$grey-6;
                        }
                    }
                }
                .ems-prd-list-filter-button{
                    .btn-filter{
                        &:first-child{
                            @include get-flex(flex,center,center);
                            font-weight: bold;
                            i::before{
                                color:$black;
                            }
                        }
                    }
                }
            }
        }
    
    }
}