//
// Component:       Product List Cover
//
// ========================================================================
.ems-prd-list{
    .emosInfinite{
        .ems-prd{
            border-style: solid;
            border-width: 0 0 1px 0;
            border-color: $alto;
            &:nth-child(even){
                border-left-width: 1px;
            }
        }
    }
}

.emosInfinite{
    .ems-prd{
        width: calc( 100% / 2 );
        padding: 10px;
    }
    .ems-prd-inner{
    }

    .ems-prd-content{
        position: relative;
    }

    /* Brand */
    .ems-prd-band{
        > div {
            width: 100%;    
            height: 15px;
            margin-bottom: 6px;
            position: absolute;
            top: -19px;
            background: $white;
        }
        %font-type{
            display: block !important;
            font-family: $proxima;
            font-size: 12px;
            font-weight: 600;	
            line-height: 18px;
        }
        /*İndirim Oranı*/
        .ems-prd-discount{
            z-index: 1;
            .urunListe_pnlIndirimOran{
                @extend %font-type;
                color: $frenchRose;
            }
        }
        /* Yeni bilgisi */
        .ems-prd-new{
            &:not(:empty){
                z-index: 2;
            }
            .urunListe_yeniUrun{
                @extend %font-type;
                color: $dodgerBlue;
            }
        }
    }

    /* Product Image */
    .ems-prd-image{
        margin-bottom: 0;
    }

    /* Product Price */
    .ems-prd-price{
        display: inline-flex;
        align-items: center;
        font-family: $brandon;
        line-height: 19px;
        margin-bottom: 4px;
    }
    .ems-prd-price-first{
        font-size: 15px;
        font-weight: 500;
        letter-spacing: .25px;
        color: $gray;
        position: relative;
        margin-left: 10px;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: $gray;
            transform: translate( -50&, -50%);
        }

        .urunListe_brutFiyat{
            position: relative;
            padding-left: 9px;
            &:before{
                content: '₺';
                font-family: arial;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0;
                position: absolute;
                left: 0;
            }
        }
    }
    .ems-prd-price-selling{
        font-size: 18px;
        font-weight: 700 ;
        letter-spacing: .5px;
        color: $black;
        .urunListe_satisFiyat{
            position: relative;
            padding-left: 10px;
            &:before{
                content: '₺';
                font-family: arial;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0;
                position: absolute;
                left: 0;
            }
        }
    }

    /* Product Name */
    .ems-prd-name{
        font-family: $proxima;
        font-size: 12px;
        letter-spacing: .3px;
        line-height: 18px;
        height: 36px;
        overflow: hidden;
        margin-bottom: 4px;
    }

    /* Product Features */
    .ems-prd-features-group{
        display: flex;
    }

    /* Comments */
    .ems-prd-comment{
        &:empty ~ .empty-comment{
            display: block;
            i{
                font-size: 11px;
                color: $dustyGray;
                margin-right: 1px;
            }
            .count{
                margin-left: 5px;
                font-family: $proxima;
                font-size: 12px;
                letter-spacing: .3px;
                line-height: 18px;
                color: $dustyGray;
            }
        }
    }

    /* Color Count */
    .ems-prd-color-count{
        .urunListe_grupurunSayisi{
            display: inherit !important;
            margin-left: 20px;
            font-family: $proxima;
            font-size: 12px;
            letter-spacing: .3px;
            line-height: 18px;
            color: $dustyGray;
            &:after{
                content: " Renk";
            }
        }
    }

    .ems-prd-remaining-number{
        height: 22px;
        .urunListe_sonKacUrun{
            display: block !important;
        }
        [id$="lblSonKacUrun"]{
            font-size: 0;
            &::before{
                content: "Hızla Tükeniyor";
                display: inline-block;
                font-family: $proxima;
                font-size: 12px;
                line-height: 22px;
                color: $maroonFlush;
            }
        }
    }
    /* Fast View */
    .ems-prd-fast-view{
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        height: 22px;
        background: $white;

        opacity: 0;
        visibility: hidden;
        transition: all .200s ease-in-out;
        [id$='lbfHizliIncele']{
            display: flex;
            align-items: center;
            i{
                font-size: 18px;
                margin-right: 6.5px;
            }
            span{
                margin-top: 1px;
                font-family: $proxima;
                font-size: 12px;
                font-weight: 600;
                line-height: 15px;
                color: $black;
            }
        }
    }

    /* Ara ürün */
    .ems-between-prd{
        .between-prd{
            display: none;
        }
    }

    /* Ara Banner */
    .ems-between-banner{
        display: none;
    }
}


.ems-prd-list{
    .emosInfinite{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
}


/*
 * Desktop
 *  
 ========================================================================== */
 @supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-prd-list{
            .emosInfinite{
                .ems-prd{
                    border: 0;
                    &:nth-child(even){
                        border-left-width: 0px;
                    }
                }
            }
        }
        .emosInfinite{
            .ems-prd{
                width: calc( 100% / 5 );
                padding: 25px;
            }
            .ems-prd-inner{
                max-width: 210px;
                margin: 0 auto;
            }
            /* Product Image */
            .ems-prd-image{
                margin-bottom: 30px;
            }
            /* New Product */
            .ems-prd-new{
                height: 18px;
                margin-bottom: 3.5px;
                .urunListe_yeniUrun{
                }
            }

                /* Product Price */
            .ems-prd-price{
            }
            .ems-prd-price-first{

                .urunListe_brutFiyat{
                }
            }
            .ems-prd-price-selling{
                .urunListe_satisFiyat{
                }
            }

            /* Product Name */
            .ems-prd-name{
            }

            /* Product Features */
            .ems-prd-features-group{
            }

            /* Comments */
            .ems-prd-comment{
            }

            /* Color Count */
            .ems-prd-color-count{
            }

            .ems-prd-remaining-number{
            }

            /* Fast View */
            .ems-prd-fast-view{
            }

            /* Ara ürün */
            .ems-between-prd{
                width: 100%;
                height: 527px;
                display: flex;

                .between-prd{
                    width: 75%;
                    display: flex;
                    background: #ffe8e4;
                }

                .between-prd-info{
                    width: 33%;
                    padding: 100px 30px 30px;
                    display: inline-flex;
                    align-items: center;
                    flex-direction: column;
                    img{
                        max-width: 261px;
                        max-height: 136px;
                    }
                }
                .between-prd-desc{
                    font-family: $proxima;
                    font-size: 16px;
                    line-height: 1.25;
                    text-align: center;
                    color: $black;
                    max-width: 224px;
                    margin-top: 30px;
                }

                .between-prd-img{
                    width: 67%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    &:after{
                        content: "";
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        border-style: solid;
                        border-width: 15px 10px 15px 0px;
                        border-color: rgba(0,0,0,0) $white rgba(0,0,0,0) rgba(0,0,0,0);
                    }
                }
            }

            /* Ara Banner */
            .ems-between-banner{
                display: inline-block;
                width: calc((100% / 5) * 2);
                .inner{
                    display: flex;
                    overflow: hidden;
                    height: 100%;
                    margin-right: -25px;
                    font-size: 0;
                    position: relative;
                    img{
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }

            .ems-prd{
                &:hover{
                    .ems-prd-fast-view{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        
        .ems-prd-list{
            .emosInfinite{
                padding: 0 25px 0 5px;
            }
        }
    }
}