.page-PrdList{
    .navbar-holder{
        .navbar-item-search{
            display: none;
        }
        .navbar-item-alternate-icons{
            .icon-search{
                visibility: visible;    
            }
        }
    }
    .ems-prd-list-paging{
        display: none;
    }
}


/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .page-PrdList{
            .navbar-holder{
                .navbar-item-search{
                    display: block;
                }
                .navbar-item-alternate-icons{
                    .icon-search{
                        visibility: hidden;    
                    }
                }
            }
            .ems-prd-list-paging{
                display: block;
            }
        }
    }
}