.ems-page-product-list{
    .navbar-hide-icons{
        visibility: visible !important;
        .header-detail-back-btn{
            display: none;
        }
    }
    .navbar-item-search{
        display: none;
    }

    .ems-prd-list-paging{
        display: none;
    }
}


.ems-page-product-list{
    .search-ready , .search-animate{
        .navbar-item-search{
            display: block;
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-page-product-list{
            .navbar-item-search{
                display: block;
            }
            .ems-prd-list-paging{
                display: block;
            }
        }
    }
}