//
// Static:       Login
//
// ========================================================================


/* Login Page Tab Hide-Show */
.ems-signup{
    display: none;
}
.ems-signup-body{
        .ems-login{
            display: none;
        }
        .ems-signup{
            display: block;
        }
}
.ems-signin-body{
    .ems-login{
        display: block;
    }
    .ems-signup{
        display: none;
    }
}


.ems-page-default-member-login{
    .ems-login{
        .ems-login-title{
            border:1px solid black;
        }
        .ems-login-cover{
            border:1px solid blue;
        }
        .ems-login-wrapper{
            border:1px solid red;
        }
    }
}

/*
 * Media Query
 ========================================================================== */
 @supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-signin-body{
            .ems-login{
                display: grid;
                grid-row-gap: 30px;
                grid-column-gap: 75px;
                grid-template-areas: 
                "ELT ELT"
                "ELW ELC";
                .ems-login-title{
                    grid-area:ELT;
                }
                .ems-login-wrapper{
                    grid-area: ELW;
                }
                .ems-login-cover{
                    grid-area: ELC;
                }
            }
        }

    }
}