.ems-page-detail{
    .grid-column-dtl-bnr{
        display: none;
    }
}


@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .ems-page-detail{
            .grid-column-dtl-bnr{
                display: block;
                .dtl-bnr-collection{
                    display: grid;
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 606px;
                    .dtl-bnr-collection-item{
                        padding-top: 90px;
                        .content{
                            max-width: 645px;
                            color:$light-grey;
                            position: relative;
                            z-index: 1;
                        }
                        &.left{
                            background-image:url('/UPLOAD/facelift-banner/homepage-banner/gural-anasayfa-img-03@1x.jpg');
                            background-position: center;
                            background-size:140%;
                            display: flex;
                            justify-content: flex-end;
                            position: relative;
                            &::after{
                                content: '';
                                background: rgba($color: #000000, $alpha: 0.5);
                                position: absolute;
                                left:0px;
                                top:0px;    
                                width:100%;
                                height:100%;
                                z-index: 0;
                            }
                            .content{
                                h2{
                                    font-size:25px;
                                    font-family: $gilroy;
                                }
                                p{
                                    margin-top:45px;
                                    font-size:22px;
                                    line-height: 1.18;
                                    margin-right:50px;
                                }
                            }
                        }
                        &.right{
                            background: $greyish-brown;
                            .content{
                                padding-left:50px;
                                .title{
                                    @include get-flex(flex,center,flex-start);
                                    font-weight: bold;
                                    span{
                                        margin-left:10px;
                                    }
                                }
                                ul{
                                    margin-top:50px;
                                    padding-left:50px;
                                    li{
                                        line-height:1.33;
                                        font-size:15px;
                                        font-family: $proxima;
                                        text-transform: uppercase;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}