.ems-page-detail{
    .navbar-hide-icons{
        visibility: visible !important;
        .header-search-btn{
            display: none;
        }
    }
    .navbar-item-search{
        display: none;
    }
    .sticky-header-ready{
        .header-detail-back-btn{
            display: block !important;
        }
    }
}


.ems-page-detail{
    .ems-prd-detail{
        .inner-row-2{
            position: relative;
            .ems-prd{
                position: sticky;
                top:120px;
            }
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .ems-page-detail{
            .logo{
                @include get-flex(flex,center,space-between);
                width:160px !important;
                .icon-menu{
                    margin-right:10px;
                    display: block !important;
                }
            }
            .main-wrapper{
                grid-template-areas: 
                ". HDR HDR ."
                "MAI MAI MAI MAI"
                ". FTR FTR ." !important;
                main{
                    max-width: 100%;
                    .site-pages-detailpage.grid-container{
                        .grid-column{
                            width:100%;
                            max-width: 1290px;
                            margin:0 auto;
                        }
                    }
                }
                aside{
                    display: none;
                }
            }

            .navbar-item-search{
                display: block;
            }
        }
        .ems-page-detail{
            .aside-active{
                .main-wrapper{
                    grid-template-areas: 
                    ". HDR HDR ."
                    ". ASD MAI ."
                    ". ASD FTR ." !important;
                    aside{
                        display: block;                                            
                    }
                }
            }
        }

    }
}