/* Product Detail Page */ 

.mousetrap{
    display: none;
}
.zoom-gallery.gallery-ready{
    display: block;
}

/*
 * Media Query
 ========================================================================== */
 @supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
       div.ems-page-detail{
           display: grid;
           grid-template-columns: 100%;
           > .grid-column{
           }
           .grid-column-dtl{
                
           }    
       }
        
    }
}
