//
// Static:       Product Card
//
// ========================================================================

.ems-prd-detail{
    /* Name
    ========================================================================== */
    .ems-prd-name-holder{
        display: flex;
        align-items: center;
        padding: 19px 20px 20px;
        border-bottom: 1px solid $wildSand;

        .prd-header-back{
            margin-right: 5px;
            .btn-back{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .prd-header-search{
            margin-left: auto;
            .btnSearch{
                font-size: 20px;
                color: $wildStrawberry;
                padding: 5px;
            }
        }
        .prd-header-cart{
            margin-left: 20px;
            .btnCart{
                display: flex;
            }
        }
    }
    .ems-prd-name{
        font-family: $brandon;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.25;
        color: $black;

        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    /* Description
    ========================================================================== */
    .ems-prd-description{
        font-family: $proxima;
        font-size: 15px;
        color: $gray;

        padding: 17px 20px 18px;
        border-width: 1px 0 1px 0;
        border-style: solid;
        border-color: $wildSand;        
    }

    /* Price
    ========================================================================== */
    .ems-prd-price{
        margin: 20px 20px 0;
        /* Turkish Lira Icon */
        .ems-prd-price-first,
        .urunDetay_satisFiyat{
            position: relative;
            padding-left: 15px;
            &:before{
                content: "₺";
                font-family: arial;
                font-size: 22px;
                font-weight: 600;
                letter-spacing: 0;
                position: absolute;
                left: 0;
            }
        }
        /* TL Display None */
        .pb1{
            display: none;
        }
    }
    
    /* Partner Set */
    .ems-prd-price-selling,
    .ems-prd-price-first{
        font-family: $brandon;
        font-size: 26px;
        font-weight: bold;
        line-height: 26px;
    }

    .ems-prd-price-selling{
        color: $black;
    }

    .ems-prd-price-first{
        color: $gray;
        margin-left: 15px;
        &:after{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: $gray;
            transform: translateY(-50%);
        }
        &:empty{
            display: none;
        }
    }
    [id$='lbfURN_KDVDAHILSATIS'],
    [id$='lbfURN_KDVDAHILSATISILK']{
        display: none;
    }


    /* Tell me the price
    ========================================================================== */
    .ems-prd-detail-wrp{
        display: none;
    }
}

/* Color Palette
========================================================================== */
.ems-prd-grup-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .prd-list-group{
        .color-count{
            position: absolute;
            right: 20px;
            top: 15px;
            z-index: -1;
            height: 30px;
            width: 55px;
            border-radius: 15px;
            border: 1px solid $dustyGray;
            display: flex;
            align-items: center;
            padding: 0 12px;
            transition: all .333s ease-in-out;
            i{
                @extend [class^="icon-"];
                @extend .icon-arrow-bottom;
                font-size: 7px;
                margin-left: auto;
                transition: all .333s ease-in-out;
            }
        }

        > span{
            display: flex;
            height: 60px;
            padding: 20px 20px 24px;
            border-width: 1px 0;

            font-family: $proxima;
            font-size: 13px;
            color: $gray;
            &:before{
                content: "RENK";
                margin-right: 10px;
                font-weight: 700;
                color: $black;
            }
        }
        ul{
            background: $white;
            max-height: 233px;
            overflow-x: auto;
            border-bottom: 1px solid #D8D8D8;
            li{
                &:not(:first-child){
                    border-top: 1px solid #D8D8D8;
                }
                a{
                    display: flex;
                    align-items: center;
                    height: 57px;
                    padding: 13px 26px 11px 12px;
                    color: $doveGray;
                    .prd-color{
                        order: 1;
                        width: 29px;
                        height: 29px;
                        margin-right: 11px;
                    }
                    .prd-code{
                        order: 2;
                        margin-right: 3px;
                    }
                    .prd-name{
                        order: 3;
                    }
                }
            }
        }
        &.opened{
            .color-count{
                background: $black;
                color: $white;
                i{
                    color: $white;
                    transform: rotate(180deg);
                }
            }
        }
    }
    .color-palette-wrp{
        .color-palette{
            position: relative;
            overflow: hidden;
            width: 100%;
        }
        .swiper-wrapper{
            align-items: flex-end;
        }
        .swiper-slide{
            height: 60px;
            transition: all .333s ease-in-out;
            .inner{
                a{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    font-size: 0;
                }
            }
            &.selected,
            &:hover{
                height: 70px;
            }
        }
    }
}

/* Add to Cart
========================================================================== */
.ems-prd-add-to-cart{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
    .urunDetay_urunAdet{
        display: none;
    }

    .pnlSepetGrup,
    .btnFavoriEkle{
        width: calc(50% - 10px);
    }

    .urunDetay_btnSepeteAt{
        table{
            display: block;
            width: 100%;
            *{
                display: block;
                width: 100%;
            }
        }
    }
    .btnsepeteAt{
        @extend .btn;
        @extend .btn-primary;

        height: 55px;
        line-height: 24px;
    }
    .btnFavoriEkle{
        @extend .btn;
        height: 55px;
        line-height: 24px;
    }
}

/* Tell me the price
========================================================================== */
.ems-prd-price-btn{
    font-family: $proxima;
    font-size: 16px;
    color: $doveGray;

    margin: 26px 20px;
}



/**/
.ems-prd-comment{
    margin-bottom: 11px;
    i{
        font-size: 12px;
        color: #d8d8d8;
        &.active{
            color: $black;
        }
    }
    > span{
        margin-left: 10px;

        font-family: $proxima;
        font-size: 13px;
        color: $black;
        .count{
            margin-right: 3px;
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

        .ems-prd-detail{
            /* Name
            ========================================================================== */
            .ems-prd-name-holder{
                display: block;
                height: 60px;
                padding: 0;
                border: 0;
                .ems-prd-name{
                    font-size: 24px;
                    max-width: initial;
                    white-space: normal;
                }
            }

            .ems-prd-description{
                border: 0;
                padding: 0;
            }

            .ems-prd-price{
                margin: 36px 0 40px;
            }
            
            /**/
            .ems-prd-detail-wrp{
                background: $wildSand;
                padding: 55px 0;
                %title{
                    font-family: $brandon;
                    font-size: 18px;
                    font-weight: 500;
                    color: $black;
                    margin-bottom: 16px;
                }
                %desc{
                    font-family: $proxima;
                    font-size: 16px;
                    line-height: 1.38;
                    color: $emperor;
                }
                .ems-prd-features{
                    .ems-prd-desc-title{
                        @extend %title;
                    }
                    .ems-prd-desc{
                        @extend %desc;
                    }
                    .ems-prd-code{
                        display: flex;
                        @extend %desc;
                        margin-top: 24px;
                        > div:first-child{
                            margin-right: 2px;
                        }
                    }
                }
                .ems-features-set{
                    margin-top: 32px;
                    .features-title{
                        @extend %title;
                    }
                }

                .ems-prd-last-comment{
                    .comment-title{
                        @extend %title;
                    }
                }
                
            }
        }


        /* Color Palette
        ========================================================================== */
        .ems-prd-grup-wrapper{
            display: initial;
            .prd-list-group{
                + .color-palette-wrp{
                    margin-bottom: 20px;
                }
            }
            .color-palette-wrp{
                .swiper-wrapper{
                    align-items: flex-start;
                }
            }
            
        }
        /* Add to Cart
        ========================================================================== */
        .ems-prd-add-to-cart{
            height: 55px;
            margin: 0;
        }

        .ems-prd-price-btn{
            margin: 30px 0 0;
        }

        .alignment-right{
            margin-top: 34px;
        }
    }
}