//
// Static:       Product Tabs
//
// ========================================================================
@media screen and (max-width: $breakpoint-medium - 1) {
    .tab-holder{
        .tab-head{
            display: flex;
            align-items: center;
            height: 50px;
            margin: 0 20px;
            border-bottom: 1px solid $wildSand;
            .tab-title{
                font-family: $brandon;
                font-size: 14px;
                font-weight: 500;
                color: $black;
                user-select: none;
            }
            i{
                font-size: 10px;
                margin-left: auto;
                    transition: all .333s ease-in-out;
                }
            }
            .tab-content{
                max-height: 0;
                overflow: hidden;
                transition: all .333s ease-in-out;
            }
            &.opened{
                .tab-head{
                    i{
                        transform: rotate(90deg);
                    }
                }
                .tab-content{
                    max-height: inherit;
                }
            }
        }

    /* Tab : Product Detail
    ========================================================================== */
    .prd-detail{
        .ems-prd-detail-wrp{
            padding: 40px 20px;
            background: $wildSand;
        }

        .ems-prd-features{
            .ems-prd-desc-title{
                font-family: $brandon;
                font-size: 18px;
                font-weight: 500;
                color: $black;
                margin-bottom: 16px;
            }

            .ems-prd-desc,
            .ems-prd-desc *{
                font-family: $proxima;
                font-size: 16px;
                line-height: 1.38;
                color: $emperor;
                font-weight: 400;
            }

            .ems-prd-code{
                display: flex;
                margin-top: 20px;

                font-family: $proxima;
                font-size: 16px;
                line-height: 1.38;
                color: $emperor;
                div:first-child{
                    margin-right: 2px;
                }
            }
        }

        .ems-features-set{
            margin-top: 32px;
            .features-title{
                font-family: $brandon;
                font-size: 18px;
                font-weight: 500;
                color: $black;
                margin-bottom: 16px;
            }
        }

        .ems-prd-last-comment{
            display: none;
        }
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
    }
}