//
// Static:       Product Zoom
//
// ========================================================================


.ems-prd-zoom{
    //margin: 0 auto 10px;
    //padding: 2px 60px;
}


/* Zoom Main Slider */
.product-detail-slider{
    .swiper-left-column{
        display: none;
    }
    .product-slide-inner{
        .cloud-zoom{
            position: relative;
            .color-palatte-img{
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                &.active-img{
                    z-index: 1;
                }
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #DCDCDC;
        font-size: 12px;
        color: #000000;
    }
    .swiper-pagination{
        position: initial;
    }
    .swiper-pagination-bullet {
        border: 2px solid $alto;
        background: $alto;
        &.swiper-pagination-bullet-active {
            background: rgba(0, 0, 0, 0);
        }
    }

    .swiper-thumb-column{
        width: 170px;
        margin: 0 auto;
        .swiper-slide{
            a{
                border: 1px solid #eeeeee;
                border-radius: 5px;
                font-size: 0;
                overflow: hidden;
            }
            &.selected{
                a{
                    border-color: $frenchRose;
                }
            }
        }
    }
}

/* Zoom Big Slider */
.zoom-gallery {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    overflow: hidden;
    z-index: 2001;
    top: 0;
    left: 0;
    background: #FFF;
    display: none;
    &.gallery-ready{
        display: block;
    }
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        
        /* Zoom Main Slider */  
        .product-detail-slider{

        }

    }
}