//
// Static:       Product Zoom
//
// ========================================================================


.ems-prd-zoom{
    //margin: 0 auto 10px;
    //padding: 2px 60px;
}


/* Zoom Main Slider */
.product-detail-slider{
    .swiper-left-column{
        display: none;
    }
    .swiper-slide{
        a{
            cursor:zoom-in;
        }
        margin-bottom:10px;
    }
    .swiper-slide-video{
        display: none;
    }
    .swiper-pagination{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding:0px 20px 20px 0px;
        &-bullet{
            margin:0px 12px;
            width:7px;
            height: 7px;
            background: $white !important;
            opacity: 0.5;
            transition: all .33s;
            &-active{
                width:10px;
                height:10px;
                opacity: 1;
            }
        }
    }        
}

/* Zoom Big Slider */
.zoom-gallery {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    overflow: hidden;
    z-index: 2001;
    top: 0;
    left: 0;
    background: #FFF;
    display: none;
    &-inner{
        display: flex;
        flex-direction: row-reverse;
    }
    &-header{
        position:absolute;
        top:50px;
        right:50px;
        z-index: 99;
    }
    &-footer{
        position: absolute;
        bottom:50px;
        right:50px;
        z-index: 99;
        i:before{
            color:#a10014;
        }
    }
    .large-wrapper{
        width:calc(100% - 200px);
        overflow: hidden;
        li{
            height:100vh;
            img{
                width:inherit !important;
            }
        }
        .swiper-button-next , .swiper-button-prev{
            display: none;
        }
    }
    .detail-thumbs-slider{
        background: $white; 
        position: absolute;
        top:50%;
        left:0px;
        transform: translateY(-50%);
        width:200px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .thumbs-wrapper{
        overflow: hidden;
        ul{
            height:540px;
            align-items: center;
            li{ 
                width:160px;
                @include get-flex(flex,center,center);                
                img{
                    width:100%;
                }
            }
        }
        .thumb-swiper-button-next , .thumb-swiper-button-prev {
            position: absolute;
            cursor: pointer;
            z-index: 100;
            left: 50%;
            transform: translateX(-50%);
        }
        .thumb-swiper-button-next{
            bottom:-40px;
        }
        .thumb-swiper-button-prev{
            top:-40px;
        }
    }
    
}

/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
         
        .product-detail-slider{
            .swiper-wrapper{
                &.slide-wrp{
                    display: inherit;
                }
            }
        }
        .zoom-gallery{
            &.gallery-ready{
                display: block;
            }
        }  

    }
}