//
// Color Palette
// ========================================================================

$wildStrawberry     : #FF2B94;
$frenchRose         : #F44A7E;
$emperor            : #535353;
$gray               : #828282;
$dustyGray          : #999999;
$alto               : #DCDCDC;
$wildSand           : #F6F6F6;
$outerSpace         : #373E44;
$maroonFlush        : #C81A4F;
$white              : #FFF;
$black              : #000000;
$alabaster          : #F9F9F9;

$extraMenuBg        : #2dccd3;
$softPeach          : #F6F0EF;
$dodgerBlue         : #5685FF;
$doveGray           : #6c6c6c;

$facebook           : #304b92;