//
// Color Palette
// ========================================================================

$carmine            : #A10014;
$light-peach        : #fcd5c4;
$light-grey         : #e8e5e0;
$greyish-brown      : #e8e5e0;
$pinkish-grey       : #e8e5e0;
$light-grey-two     : #e8e5e0;
$white-two          : #d8d8d8;
$charcoal-grey      : #2a2d37;

/* Silinecek */ 
$alto : red;
$white : #fff;
$frenchRose : red;
$black : black;
$wildSand:red;
$dustyGray: grey;
$emperor: red;
$wildStrawberry:red;
$gray:gray;
$extraMenuBg: purple;
$outerSpace: red;
$softPeach: red;
$alabaster:red;
$dodgerBlue:blue;
$maroonFlush:red;
$doveGray:gray;
$facebook:blue;