//
// Color Palette
// ========================================================================

$carmine            : #A10014;
$light-peach        : #fcd5c4;
$light-grey         : #e8e5e0;
$greyish-brown      : #454545;
$pinkish-grey       : #e9ded9;
$light-grey-two     : #dae0d4;
$white-two          : #d8d8d8;
$charcoal-grey      : #2a2d37;
$light-grey-three   : #eeeeee;
$white              : #ffffff;
$black              : #000000;
$dark               : #0f1015;
$grey-6             : #666666;
$grey-9             : #909090;
$grey-c             : #cccccc;
$grey-d             : #dddddd;
$facebook           : #3a589b;


/* Silinecek */ 
$alto : red;
$frenchRose : red;
$wildSand:red;
$dustyGray: grey;
$emperor: red;
$wildStrawberry:red;
$gray:gray;
$extraMenuBg: purple;
$outerSpace: red;
$softPeach: red;
$alabaster:red;
$dodgerBlue:blue;
$maroonFlush:red;
$doveGray:gray;