[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emagazine:before {
  content: "\e931";
}
.icon-heart-empty:before {
  content: "\e932";
}
.icon-extra:before {
  content: "\e933";
}
.icon-play:before {
  content: "\e934";
}
.icon-refresh:before {
  content: "\e930";
}
.icon-phone-2:before {
  content: "\e92a";
}
.icon-star:before {
  content: "\e92f";
}
.icon-location:before {
  content: "\e91b";
}
.icon-fast-shipping:before {
  content: "\e922";
}
.icon-services-list:before {
  content: "\e923";
}
.icon-location-2:before {
  content: "\e924";
}
.icon-minus:before {
  content: "\e925";
}
.icon-credit-card:before {
  content: "\e926";
}
.icon-cs:before {
  content: "\e927";
}
.icon-transfer:before {
  content: "\e928";
}
.icon-distance:before {
  content: "\e929";
}
.icon-pagination-left:before {
  content: "\e92b";
}
.icon-pagination-right:before {
  content: "\e92c";
}
.icon-security:before {
  content: "\e92d";
}
.icon-gift:before {
  content: "\e92e";
}
.icon-menu:before {
  content: "\e921";
}
.icon-arrow-top-thick:before {
  content: "\e900";
}
.icon-arrow-right-thick:before {
  content: "\e901";
}
.icon-arrow-bottom-thick:before {
  content: "\e902";
}
.icon-arrow-left-thick:before {
  content: "\e903";
}
.icon-tri-top:before {
  content: "\e904";
}
.icon-tri-right:before {
  content: "\e905";
}
.icon-tri-bottom:before {
  content: "\e906";
}
.icon-tri-left:before {
  content: "\e907";
}
.icon-arrow-top:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-bottom:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e90b";
}
.icon-go-to-top:before {
  content: "\e90c";
}
.icon-user-female:before {
  content: "\e90d";
}
.icon-search:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e90f";
}
.icon-nottification:before {
  content: "\e910";
}
.icon-calendar:before {
  content: "\e911";
}
.icon-check:before {
  content: "\e912";
}
.icon-crossed:before {
  content: "\e913";
}
.icon-eye:before {
  content: "\e914";
}
.icon-faq:before {
  content: "\e915";
}
.icon-heart:before {
  content: "\e916";
}
.icon-facebook:before {
  content: "\e917";
}
.icon-twitter:before {
  content: "\e918";
}
.icon-youtube:before {
  content: "\e919";
}
.icon-instagram:before {
  content: "\e91a";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-filter:before {
  content: "\e91e";
}
.icon-filter-type-1:before {
  content: "\e91f";
}
.icon-tissue:before {
  content: "\e920";
}
