//
// Component:       Variables
//
// ========================================================================


// Breakpoints
// ========================================================================
$breakpoint-small:                              640px !default;  // Phone landscape
$breakpoint-medium:                             960px !default;  // Tablet Landscape
$breakpoint-large:                              1200px !default; // Desktop
$breakpoint-xlarge:                             1600px !default; // Large Screens

$breakpoint-xsmall-max:                         ($breakpoint-small - 1) !default;
$breakpoint-small-max:                          ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                         ($breakpoint-large - 1) !default;
$breakpoint-large-max:                          ($breakpoint-xlarge - 1) !default;

// Test Url
// ========================================================================
$baseHref: '';


// Default Fonts
// ========================================================================
$proxima:                                       'proxima' ;
$brandon:                                       'brandon' ;


// Layout
// ========================================================================
$defaultMaxWidth:                               960px;
$containerWidth:                                1136px;
$siteContainerWidthFull:                        1366px;



// Backgrounds
// ========================================================================
$global-background:                              #fff !default;

$global-success-background:                      #32d296 !default;
$global-warning-background:                      #faa05a !default;
$global-danger-background:                       #f0506e !default;


// Gutter
// ========================================================================
$global-gutter:                                  30px !default;
$global-small-gutter:                            15px !default;
$global-medium-gutter:                           40px !default;
$global-large-gutter:                            70px !default;
