.hp-beauty-secrets{
    padding: 50px 0;
    background: $softPeach;
}

.hp-beauty-secrets-title{
    font-family: $brandon;
    font-size: 30px;
    font-weight: 500;
    color: $black;
    text-align: center;
    margin-bottom: 40px;
}

.ems-video-area-holder{
    width: 60%;
    margin: 0 auto;
}
.ems-video-area{
    position: relative;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;

    .ems-video-area-inner{
        position: relative;
        z-index: 2;
        .mejs__video{
            max-width: inherit !important;
        }
        .mejs__mediaelement{
            font-size: 0;
        }
        .mejs__offscreen,
        .mejs__button,
        .mejs__currenttime-container,
        .mejs__time-rail,
        .mejs__volume-button,
        .mejs__fullscreen-button{
            display: none;
        }
        .mejs__duration-container{
            position: absolute;
            left: 21px;
            bottom: 21px;
            color: $white;
        }
    }

    .ems-video-left-media,
    .ems-video-right-media{
        max-width: 33.3%;
        position: absolute;
        top: 50%;
    }
    .ems-video-left-media{
        left: 0;
        transform: translate(-90%, -55%);
        z-index: 3;
    }
    .ems-video-right-media{
        right: 0;
        transform: translate(50%, -50%);
    }
}


/*
 * Media Query
 ========================================================================== */
@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {

    }
}