// Name:            Homepage First Banner Area
// Description:     
//
// ========================================================================


.homepage-banner{
    &.grid-container{
        @include get-flex(flex,center,center);
        flex-wrap: wrap;
        width:94.7%;
        margin:24px auto;
        .grid-item{
            margin-bottom:20px;
            a{
                width: 100%;
                position: relative;
                .content{
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50% , -50%);
                    .title{
                        display: block;
                        margin:0 auto;
                        min-width: 237px;
                        text-align: center;
                        font-size: 35px;
                        font-family: $gilroy;
                        font-weight: bold;
                        color: $white;
                    }
                    .desc{
                        display: block;
                        margin:0 auto;
                        min-width:231px;
                        text-align: center;
                        font-size: 22px;
                        font-family: $gilroy;
                        font-weight: 400;
                        color:$white;
                    }
                }
                .btnLine{
                    border: 1px solid #ddd;
                    font-size: 15px;
                    font-family: $proxima;
                    font-weight: 400;
                    text-align: center;
                    border-radius: 3px;
                    display: inline-block;
                    min-width: 180px;
                    position: relative;
                    transform: translateX(-50%);
                    left:50%;
                    padding: 10px 0px;
                    margin:10px 0px;
                }
            }
            img{
                width:100%;
            }
            &.new-banner-icon{
                position: relative;
                &::before{
                @include get-flex(flex,center,center);
                content: 'YENİ';
                position: absolute;
                z-index: 99;
                width: 70px;
                height: 70px;
                background: $light-peach;
                text-align: center;
                border-radius: 100%;
                transform: rotate(-15deg);
                top: -12px;
                left: 20px;
                font-size:18px;
                font-family: $gilroy;
                font-weight: bold;
                }
            }
        }
    }
}



@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
       
        .homepage-banner{
            &.grid-container{
                width:inherit;
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: minmax(auto, 635px) minmax(auto, 635px);
                grid-column-gap: 20px;
                grid-template-areas: "a b";
                margin:inherit;
                margin-bottom:50px;
                .grid-item{
                    margin-bottom:0px;
                    a{
                        .content{
                            .desc{
                                font-size:25px;
                                min-width:266px;

                            }
                        }
                        .btnLine{
                            margin:inherit;
                            padding: inherit;
                            position: absolute;
                            bottom:20px;
                            border:none;
                            color:$white;
                            @include get-flex(flex,center,center);
                            &:after{
                                content:'\e927';
                                font-family: "icomoon";
                                font-size:40px;
                            }
                        }
                    }
                    &.grid-item-a {
                        grid-area: a;
                    }
                    &.grid-item-b {
                        grid-area: b;
                    }
                    &.new-banner-icon{
                        &::before{
                            left:-25px;
                            top:30px;
                        }
                    }
                }
            }
        }

    }
}
