.homepage-instagram{
    margin-top:50px;
    display: none;
    .swiper-title {
        strong {
            display: block;
            font-size: 25px;
            font-family: $gilroy;
            font-weight: bold;
            color: $black;
        }
        > span {
            display: block;
            font-size: 15px;
            color: #666;
            font-family: $proxima;
            font-weight: 400;
            margin: 10px 0px 30px 0px;
            b{
                font-weight: 600; 
            }
        }
    }
    .swiper-inner{
        .swiper-slide{
            width:270px;
            margin-right:30px;
            .swiper-slide-cover{
                height:270px;
                overflow: hidden;
            }
            .instagram-item-name{
                display: inline-block;
                margin-top:20px;
                font-family: $gilroy;
                font-weight: bold;
                font-size:15px;
            }
        }
    }
}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
        .homepage-instagram{
            display: block;
        }
    }
}