
.homepage-widget{
    margin-bottom:75px;
    .swiper-inner{
        padding-left:20px;
    }
    .swiper-pagination{
        display: none !important;
    }
}
.swiper-widget-title{
    font-size:22px;
    font-weight: bold;
    font-family: $gilroy;
    margin-bottom:25px;
    padding-left:20px;
}

.widget{
    ul.emosInfinite{
        flex-wrap:inherit;
    }
}
@media screen and (max-width: $breakpoint-medium) {
 
    .homepage-widget{
        ul.emosInfinite{
            flex-wrap: inherit !important;
            .ems-prd{
                width:65% !important;
                margin-right:40px;
            }
        }
    }

}

@supports(grid-area: auto) {
    @media screen and (min-width: $breakpoint-medium) {
 
        .homepage-widget{
            margin-top:80px;
            .swiper-inner{
                padding-left:0;
            }
            ul.emosInfinite{
                flex-wrap:inherit;
            }
        }

        .widget-view-four , .widget-view-three{
            .ems-prd{
                padding-right: 20px;
            }
        }

        .widget{
            ul.emosInfinite{
                flex-wrap:inherit;
                .ems-prd{
                    &.spr10{
                        &::before{
                            right:20px;
                        }
                    }
                }
            }
        }

    }
}
